iframe{
	height:250px; 
	border:0;

	border-radius: var(--main-section-border-radius);
	-webkit-border-radius: var(--main-section-border-radius);
	-moz-border-radius: var(--main-section-border-radius);
	-ms-border-radius: var(--main-section-border-radius);
	-o-border-radius: var(--main-section-border-radius);
}

main#activities h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
	line-height: 1em;
	color: var(--main-blue-dark);
	font-weight: 700;
}
main#activities > section{
	height: 230px;
	padding: 10px 20px;
	background-color: var(--main-white);
	border-radius: var(--main-section-border-radius);
	margin-bottom: 10px;

	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#activities section div a article{
    flex: 0 0 auto;
    margin-right: 20px;
    width: 100%;
    height: 110px;
    border-radius: var(--main-article-border-radius);
	border: 1px solid var(--main-blue-dark);
	background-color: var(--main-white);
}

main#activities section div a article figure{
	margin: 10px;
	width: 80px;
	height: 88px;
	border-radius: var(--main-section-border-radius);
	border: 1px solid var(--main-blue-dark);
	float: left;
}
main#activities section div a article figure img{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

main#activities, #activity h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

main#activities > section, main#activity > section{
	height: 380px;
}

main#activities > section >  div{
    display: flex;
	flex-wrap: wrap;
    width: 100%;
    height: 300px;
	overflow-x: hidden;  
	overflow-y: scroll;
}

main#activities section div a article{
    flex: 0 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: 110px;
    border-radius:20px;
	border: 1px solid var(--main-blue-dark);
	background-color: var(--main-white);
}

main#activities section div article div{
	display: inline-block;
	margin: 10px;
	width: 110px;
	height: 88px;
	text-align: left;
}

main#activities section div article div p{
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	font-size: 9pt;
}

main#activities > a, main#activity > a{
	display: block;
	text-align: center;
	margin-top: 20px;
	padding: 10px 5px;
    border: 1px solid var(--main-gray);
	border-radius: var(--main-button-border-radius);
	background-color: var(--main-green-light);
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

main#activity > section{
	text-align: center;
	height: 380px;
	padding: 10px 20px;
	background-color: var(--main-white);
	border-radius: var(--main-section-border-radius);
	margin-bottom: 10px;

	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#activity > section > article{
    display: flex;
	flex-wrap: wrap;
    width: 100%;
    height: 300px;
	overflow-x: hidden;  
	overflow-y: scroll;
}

main#activity > section > article > h2{
	font-size: 11pt;
	line-height: 25px;
	padding: 10px;
}

main#activity > section > article *{
	flex: 0 0 auto;
	width: 100%;
}

main#activity > section > article > figure{
	margin-bottom: 20px;
}
main#activity > section > article > figure img{
	width: 100%;
	height: 125px;
	border: 1px solid var(--main-gray);
	border-radius: var(--main-article-border-radius);
}

main#activity > section > article p{
	padding: 10px;
	border-radius: 10px;
	line-height: 25px;
    overflow-x: scroll;
}

main#activity > section > article p:nth-child(2){
	height: 120px;
	color: var(--main-white);
	background-color: var(--main-green-light);
	margin-bottom: 5px;
}

main#activity > section > article > p:nth-child(3){
	overflow-x: scroll;
}

main#activity > section > article a{
	display: block;
	text-align: center;
	margin-top: 20px;
	padding: 10px 5px;
	height: 40px;
    border: 1px solid var(--main-gray);
	border-radius: var(--main-button-border-radius);
	background-color: var(--main-red);
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

/* 
	Begin hulp scroll indicator
	bron:https://www.youtube.com/watch?v=UaYXrbNDqXM
*/
div#scroll-left{
	left: 48px;
}

div#scroll-right{
    right: 27px;
}

div.scroll-indicator{
	top: 550px;
	position: absolute;
    width: 20px;
    height: 20px;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

div.scroll-indicator span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	animation: animate 1.5s linear infinite;
}

div.scroll-indicator span:nth-child(1){
	transform: translate(-15px, -15px);
	animation-delay: -0.4s;
}
div.scroll-indicator span:nth-child(2){
	transform: translate(0px, 0px);
	animation-delay: -0.2s;
}
div.scroll-indicator span:nth-child(3){
	transform: translate(15px, 15px);
	animation-delay: 0s;
}

@keyframes animate{

	0%{
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25%{
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	50%, 100%{
		top: 5px;
		left: 5px;
		opacity: 1;
	}
}
/* 
	Einde hulp scroll indicator
*/