h1 {
	font-family: 'Colendra', sans-serif;   
	color: #1D1D1B;
	font-weight: 700; /* bold */
}

h2{
	color: var(--main-red);
}
/* 
	begin code hulpbron https://stackoverflow.com/questions/14634595/center-h1-over-image-in-a-div 
	voor welcome sticker
*/
main > figure{
    position: relative;
    height: 200px;
}

main > figure h1{
    position: absolute;
    margin-top: -13px; /* 1/2 height */
    padding: 0;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    z-index: 2;
    transform: rotate(10deg);
}

main > figure img:first{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
}
/* Einde code hulpbron */

main > section{
	height: 230px;
	padding: 10px 20px;
	background-color: var(--main-white);
	border-radius: var(--main-section-border-radius);
	margin-bottom: 10px;

	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main > section > div{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
	overflow-x: auto;  
	overflow-y: hidden;
}

main section div a {
	display: contents;
}

main section div a article{
    flex: 0 0 auto;
    margin-right: 20px;
    width: 90%;
    height: 110px;
    border-radius: var(--main-article-border-radius);
	border: 1px solid var(--main-blue-dark);
	background-color: var(--main-white);
}

main section div article figure{
	margin: 10px;
	width: 80px;
	height: 88px;
	border-radius: var(--main-section-border-radius);
	border: 1px solid var(--main-blue-dark);
	float: left;
}

main section div article figure img{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

main section div article div{
	display: inline-block;
	margin: 10px;
	width: 110px;
	height: 88px;
}

main section div article div p{
	font-size: 9pt;
}

main > section:nth-child(3)  div  article div{
	text-align: center;
}

main > section:nth-child(3)  div  article div p{
	font-size: 9pt;
}

main section > a{
	padding: 10px 5px;
    border: 1px solid var(--main-blue-dark);
	border-radius: var(--main-button-border-radius);
	background-color: var(--main-red);
	font-weight: 700;
	color: white;
}

main section:nth-child(2) a{
    width: 100%;
}