h1{
    font-size: 14pt;
    margin: 10px 0;
}

main#invitations h1 {
	font-size: 18pt;
}

h2 {
	/* font-family: 'Colendra', sans-serif;    */
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
	line-height: 1.8em;
	/* color: #1D1D1B; */
	color: var(--main-blue-dark);
	font-weight: 700;
}

main#creation > section{
	text-align: center;
	height: 515px;
	padding: 10px 20px;
	background-color: var(--main-white);
	border-radius: var(--main-section-border-radius);
	margin-bottom: 10px;

	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#creation form{
    display: flex;
    flex-wrap: wrap;
}

main#creation form select:focus{
	outline: 0;
}

main#creation form > fieldset{
	position: relative;
    flex-grow: 1;
    margin-bottom: 40px;
    width: 45%;
    height: 100px;
    border: 0;
}

main#creation form > fieldset label{
	position: absolute;
	top:50%;
	left: 0;
	right: 0;
	color: var(--main-white);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
}

main#creation form > fieldset img{
	width: 90%;
	height: 100px;
	border-radius: var(--main-button-border-radius);
	filter: brightness(50%);
	-webkit-filter: brightness(55%);
}

main#creation form > fieldset > select{
    padding: 5px;
    font-size: 10px;
    width: 90%;
    border-radius: var(--main-article-border-radius);
    background-color: var(--main-green-light);
    color: var(--main-white);
}

main#creation form > fieldset:nth-child(5), main#creation form > fieldset:nth-child(6){
    margin: 5px;
    width: 100%;
    height: fit-content;
}

main#creation form > fieldset:nth-child(5) input, main#creation form > fieldset:nth-child(6) input{
    width: 100%;
    padding: 5px;
}
main#creation form > button{
    display: block;
	margin-top: 20px;
	padding: 10px 5px;
    height: 40px;
    width: 100%;
	text-align: center;
    border: 1px solid var(--main-gray);
	border-radius: var(--main-button-border-radius);
	background-color: var(--main-red);
	color: white;
	font-size: 20px;
	font-weight: 700;
    text-transform: uppercase;
    
    -webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#invitations > section,
main#invitation > section,
main#creation-success > section{
    height: 450px;
	margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
	background-color: var(--main-white);
    border-radius: var(--main-section-border-radius);

	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#invitations > section{
	height: 430px;
	overflow-y: scroll;
}

main#invitations > section > article,
main#creation-success > section > article{
    margin-bottom: 5px;
    height: 120px;
    border: 2px solid var(--main-blue-dark);
    border-radius: var(--main-article-border-radius);
}

main#invitations > section > section{
	height: 225px;
}

main#creation-success > section > section{
	height: 230px;
	overflow-y: scroll;
}

main#invitations > section > section > div,
main#creation-success > section > section > div{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
	overflow-x: auto;  
	overflow-y: hidden;
}

main#invitations section div a,
main#creation-success section div a {
	display: contents;
}

main#invitations > section > section > a > article,
main#creation-success > section > section > div > a > article{
    flex: 0 0 auto;
    text-align: left;
    border-radius: var(--main-article-border-radius);
	border: 1px solid var(--main-blue-dark);
	background-color: var(--main-white);
}

main#invitations > section > section > a > article{
	height: 140px;
}
main#creation-success > section > section > div > a > article{
	height: 110px;
}

main#invitations > section > section > a > article{
	margin-bottom: 20px;
	width: 100%;
}

main#creation-success > section > section > div > a > article{
    margin-right: 20px;
    width: 90%;
}

main#invitations > section > section >  a > article > figure,
main#creation-success > section > section > div >  a > article > figure{
	margin: 10px;
	border-radius: var(--main-section-border-radius);
	border: 1px solid var(--main-blue-dark);
	float: left;
}

main#invitations > section > section >  a > article > figure{
	width: 90px;
	height: 118px;
}

main#creation-success > section > section > div >  a > article > figure{
	width: 80px;
	height: 88px;
}

main#invitations > section > section > a > article > figure img,
main#creation-success > section > section > div >  a > article > figure img{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

main#invitations > section > section > a > article > div,
main#creation-success > section > section > div >  a > article > div{
	display: inline-block;
	margin: 10px;
	width: 110px;
	height: 88px;
}

main#creation-success > section > section > div:nth-of-type(2) >  a > article > div{
	text-align: center;
}

main#invitations > section > section > a > article > div{
	text-align: center;
}

main#creation-success > section div article div p{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 9pt;
}

main#invitation > p{
	color: var(--main-white);
}

main#invitation > section > a{
	display: block;
	text-align: center;
	margin-top: 20px;
	padding: 10px 5px;
	height: 40px;
    border: 1px solid var(--main-gray);
	border-radius: var(--main-button-border-radius);
	background-color: var(--main-red);
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

main#invitation > section > div{
	position: relative;
	width: 100%;
	height: 330px;
}

/* 
	Begin hulp active tab
	source:https://www.sitepoint.com/css3-tabs-using-target-selector/
*/
main#invitation > section > div > article{
	display: block;
	position: absolute;
	padding: 10px 20px;
	top: 1.8em;
	left: 0;
	height: 300px;
	width: 260px;
	border-radius: 5px;
	z-index: 0;
}

main#invitation > section > div > article:first-child{
	z-index: 1;
}

main#invitation > section > div > article h2{
	position: absolute;
	padding: 0;
	margin: 0;	
	width: 85px;
	height: 1.9em;
	top: -1.8em;
	left: 10px;
	font-size: 1em;
	font-weight: 800;
	color: var(--main-white);
	background-color: var(--main-blue-dark);
	border-radius: 5px 5px 0 0;
}

main#invitation > section > div > article:nth-child(2) h2{
	left: 85px;
}	

main#invitation > section > div > article:nth-child(3) h2{
	left: 170px;
}	

main#invitation > section > div > article h2 a{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}	

main#invitation > section > div > article:target,	
main#invitation > section > div > article:target h2{
	color: var(--main-white);
	background-color: var(--main-green-light);
	z-index: 2;
}	
/* 
	Einde hulp active tab
*/

main#invitation > section{
	height: 480px;
}

main#invitation > section > div > article > form{
	display: flex;
	margin-top: 10px;
	height: 30px;
	justify-content: space-between;
}

main#invitation > section > div > article > form > input{
	padding: 5px;
}

main#invitation > section > div > article > form > button{
	padding: 5px;
	background-color: var(--main-blue-dark);
	color: var(--main-white);
	font-weight: bold;
	border:0;
	width: 20%;
	text-transform: uppercase;
}

main#invitation > section > div > article > div{
	height: 85%;
	overflow-y: scroll;
}

main#invitation > section > div > article > div > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-white);
	height: 80px;
	text-align: left;
	padding: 10px;
	border-radius: var(--main-article-border-radius);
	-webkit-border-radius: var(--main-article-border-radius);
	-moz-border-radius: var(--main-article-border-radius);
	-ms-border-radius: var(--main-article-border-radius);
	-o-border-radius: var(--main-article-border-radius);
	margin-bottom: 20px;
}

main#invitation > section > div > article > div > div:nth-of-type(2n){
	flex-direction: row-reverse;
	justify-content: flex-end;

}

main#invitation > section > div > article > div > div > figure{
	position: relative;
	max-width: 30px;
}

main#invitation > section > div > article > div > div > figure img{
	width: 80%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

main#invitation > section > div > article > div > div:nth-of-type(2n) > p{
	order: -1;
	
}

main#invitation > section > div > article > div > div > p{
	color: black;
}

main#invitation > section > div > article#info > section:first-of-type{
	display: block;
    width: 100%;
    height: 175px;
}

main#invitation section div a article{
    margin-bottom: 20px;
    width: 100%;
    height: 140px;
    border-radius: 20px;
    border: 1px solid var(--main-blue-dark);
    background-color: var(--main-white);
}

main#invitation section div a article figure{
	margin: 10px;
	width: 90px;
	height: 118px;
	border-radius: var(--main-section-border-radius);
	border: 1px solid var(--main-blue-dark);
	float: left;
}

main#invitation section div a article figure img{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

main#invitation section div article section article div{
	display: inline-block;
	margin: 10px;
	width: 88px;
	height: 88px;
	text-align: left;
}

main#invitation section div article section p{
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	font-size: 9pt;
	color: var(--main-green-light);
}

main#invitation > section > div > article > section:nth-child(3){
	display: block;
    width: 100%;
    height: 100px;
}
main#invitation > section > div > article > section:nth-child(3) p{
	color: var(--main-white);
	font-size: 11pt;
}

main#invitation > section > div > article > section:nth-child(3) p span{
	color: var(--main-red);
}

main#invitation > section > div > article p span{
	color: var(--main-red);
}

main#invitation > section > div > article#students > section{
	overflow-y: scroll;
	height: 100%;
}

main#invitation > section > div > article#students > section > h3{
	margin-bottom: 10px;
}

main#invitation > section > div > article#students > section > figure{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	background-color: var(--main-white);
    -webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#invitation > section > div > article#students > section > figure > img{
	width: 50%;
}

main#invitation > section > div > article#students > section > figure > figcaption{
    font-family: 'Colendra', sans-serif;
    font-size: 20px;
	text-align: center;
	color: black;
}

main#invitation > section > div > article#students > section > figure > figcaption > span{
	color:var(--main-red);
}