:root {
	--main-red: #CE3128;
	--main-blue-dark: #414D87;
	--main-green-light: #5CB2AC;
	--main-white: #FEFEFE;
	--main-gray: #707070;

	--main-button-border-radius: 5px;
	--main-section-border-radius: 15px;
	--main-article-border-radius: 20px;
}

/* importeer het Colendra font uit onze eigen map */
@font-face {
  font-family: 'Colendra';
  src: url('../assets/ColendraRegular.otf');
  font-style: normal;
  font-weight: 300;
}

/* importeer ook de bold gedrukte versie van het Colendra font
   uit onze eigen map */
@font-face {
  font-family: 'Colendra';
  src: url('../assets/ColendraBold.otf');
  font-style: normal;
  font-weight: 700; /* bold */
}

/* CSS reset */
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Stel een plaatje van de stippen uit de ISGA guide in als achtergrond
en herhaal dit patroon */
body {
	background-image: url('../images/body/dot_background.png');
	background-repeat: repeat;
	margin: 25px 10% 25px 10%;
}

header{
	background-image: url('../images/body/gracht_panden.svg');
    background-repeat: no-repeat;
    background-position-y: top;
	height: 100px;
}

header figure:first-child{
	text-align: center;
	padding: 30px;
}

header figure:nth-child(2){
	position: absolute;
	top: -40px;
	right: 0;
}

header figure div{
	position: relative;
	overflow-x: hidden;
}

header figure div img{
	margin-right: -30px;
}


footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--main-red);
	height: 68px;
	width: 100vw;
}

footer nav{
    width: 100%;
    font-weight: bold;
}

footer nav ul{
	display:flex;
	padding:10px;
	justify-content: center;
	list-style-type:none;
}

footer nav ul li{
	margin: 0 15px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: var(--main-white);
	float: left;
	padding: 5px;
	
	-webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

footer nav ul li.active{
	background-color: black;
}

footer nav ul li img{
	width: 100%;
	height: 100%;
	padding: 5px;
}

/* button wordt kleiner wanneer er op geklikt wordt */
nav li:hover{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}

/* onderstaande styles voor de <h1>, <h2> en <p> tags geven een voorbeeld
   hoe je de geimporteerde fonts kunt gebruiken.
   Op je eigen website mag je natuurlijk andere lettertypes, groottes, en
   kleuren, etc. voor deze tags gebruiken. */
h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--main-green-light);
	color: var(--main-red);
	font-weight: 700; /* bold */
	font-size: 18pt;
	line-height: 1.8em;
	text-align: center;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18pt;
	line-height: 1.8em;
	color: var(--main-green-light);
	font-weight: 700;
}

h3, h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
	line-height: 1em;
	color: var(--main-blue-dark);
	font-weight: 700;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 11pt;
	color: var(--main-green-light);
	font-style: italic;
	font-weight: 700;
}

a{
	font-family: 'Josefin Sans', sans-serif;
	color: inherit;
	text-decoration: none;
	outline : none;
}

/* 
	Zorgt dat er geen blauwe gloei komt wanneer er op een van de tags wordt geklikt 
*/
input,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

hr{
    margin: 10px 0;
}

/* 	
	begin code hulpbron https://stackoverflow.com/questions/30556285/how-to-get-fixed-margin-between-body-and-footer 
	voor margin boven de footer 
*/
main{
	height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
}

main *::-webkit-scrollbar {
    display: none;
}
/*  Einde code hulpbron*/
