main#profile h2{
    color: var(--main-blue-dark);
}

main#profile > section{
    width: 250px;
    height: 380px;
    margin: 0 auto;
    padding: 20px 0;

    background-color: var(--main-white);
    -webkit-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 7px 20px 1px rgba(0,0,0,0.3);
}

main#profile > section > figure{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

main#profile > section > figure > img{
    width: 80%;
    background-color: var(--main-white);
}

main#profile > section > figure > figcaption{
    margin-top: 20px;
    font-family: 'Colendra', sans-serif;
    font-size: 20px;
    text-align: center;
}

main#profile > article{
    margin: 10px auto;
    height: 130px;
    text-align: center;
    border: 2px solid var(--main-blue-dark);
    border-radius: var(--main-article-border-radius);
    background-color: var(--main-white);
}